<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Viewport -->
    <meta name="viewport" content="initial-scale=1,user-scalable=no">
    <style type="text/css">
    body {
        font-family: 'Helvetica Neue';
    }
    </style>
</head>
<body>
    <h1>About wachplan</h1>
    <p>
        wachplan is developed and maintained by <a href="https://tjarksaul.de">Tjark Saul</a> on a voluntary basis.
    </p>
    <h2>Disclaimer</h2>
    <p>
        The creators of wachplan are not liable for any kind of damage caused by this software. The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.
    </p>
    <p>
        Data in wachplan is provided by the user given backend. The authors of the software are not liable or responsible for any of this data. 
    </p>
    <h2>Privacy</h2>
    <p>
        wachplan on your iPhone, iPad or iPod touch does not collect any of your personal data and will not send it to wachplan servers. If you accepted this in iOS, your device will send reports of app crashes to us through Apple to improve our software. You can change this behaviour in your system preferences. 
    </p>
    <p>
        Personal data which is used by, or send to the provided backend is not subject to this privacy statement. Please refer to the backend's privacy statement for more information about this.
    </p>
    <h2>Thanks</h2>
    <p>
        My thanks go to Sebastian Lauber for his assistance in creating the wachplan icon and it's design. In addition I want to thank Tjark Koopmann for his assistance in creating the wachplan server part and finding nasty bugs in there. For historical reasons I'd like to thank Björn Koopmann who helped me create the first web version of wachplan and it's design.<br/>
        The order of appearance in this section does not reflect any kind of ranking. I'm equally thankful to everyone of you!
    <h2>Libraries</h2>
        <p>
        Coding isn't a single person's task. So I used some third party libraries I would like (and have to) mention here:<ul>
            <li>GBToolbox, and GBVersionTracking by Luka Mirosevic</li>
            <!-- <li>GBVersionTracking by Luka Mirosevic</li> -->
            <li>JRSwizzle by Jonathan 'Wolf' Rentzsch</li>
            <li>RETableViewManager, REValidation, and REFormattedNumberField by Roman Efimov</li>
        </ul>
        Here, too, the order does not reflect any kind of ranking. I simply ordered the entries alphabetically
    </p>
    <p>&copy; 2011&ndash;2015 Tjark Saul. All rights reserved.</p>
</body>
</html>
