<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Viewport -->
    <meta name="viewport" content="initial-scale=1,user-scalable=no">
    <style type="text/css">
    body {
        font-family: 'Helvetica Neue';
    }
    </style>
</head>
<body>
    <h1>Über wachplan</h1>
    <p>
        wachplan wird ehrenamtlich von <a href="https://tjarksaul.de">Tjark Saul</a> entwickelt.
    </p>
    <h2>Haftungsausschluss</h2>
    <p>
        Die Autoren von wachplan sind nicht haftbar für jegliche Art von Schaden, die von dieser Software verursacht wird. Die Software wird ohne jede ausdrückliche oder implizierte Garantie bereitgestellt, einschließlich der Garantie zur Benutzung für den vorgesehenen oder einen bestimmten Zweck sowie jeglicher Rechtsverletzung, jedoch nicht darauf beschränkt. In keinem Fall sind die Autoren oder Copyrightinhaber für jeglichen Schaden oder sontige Ansprüche haftbar zu machen, ob infolge der Erfüllung eines Vertrages, eines Deliktes oder anders in Zusammenhang mit der Software oder sonstiger Verwendung der Software entstanden.
    </p>
    <p>
        Daten in wachplan werden vom benutzerkonfigurierten Backend zur Verfügung gestellt. Die Autoren von wachplan sind nicht haftbar oder verantwortlich für diese Daten.
    </p>
    <h2>Datenschutz</h2>
    <p>
        wachplan auf Ihrem iPhone, iPad oder iPod touch sammmelt keinerlei persönlichen Daten und wird diese nicht zu wachplan-Servern senden. Sollten Sie sich in iOS damit einverstanden erklärt haben, wird Ihr Gerät Berichte über App-Abstürze über Apple an uns senden, um unsere Software zu verbessern. Diese Einstellung kann in Ihren Systemeinstellungen geändert werden.
    </p>
    <p>
        Persönliche Daten, die vom Backend verwendet oder gesendet werden, sind nicht Bestandteil dieser Datenschutzerklärung. Bitte wenden Sie sich hierfür an den Betreiber des Backends.
        Personal data which is used by, or send to the provided backend is not subject to this privacy statement. Please refer to the backend's privacy statement for more information about this.
    </p>
    <h2>Danke</h2>
    <p>
        Ich möchte Sebastian Lauber für seine Unterstützung bei der Erstellung des wachplan-Icons und des Appdesigns danken. Außerdem möchte ich Tjark Koopmann für seine Hilfe bei der Server-Variante von wachplan (inkl. Fehlersuche!) danken. Aus historischen Gründen danke ich Björn Koopmann, der bei der Erstellung der ersten Webversion von wachplan (und deren Design) geholfen hat.<br/>
        Die Reihenfolge der Nennungen in diesem Abschnitt stellt keinerlei Ranking dar. Ich bin jedem von Euch gleich dankbar!
    <h2>Bibliotheken</h2>
        <p>
            Softwareentwicklung ist keine Aufgabe einer einzelnen Person. Ich möchte (und muss) hier daher einige Softwarebibliothken von Drittentwicklern nennen:<ul>
            <li>GBToolbox und GBVersionTracking von Luka Mirosevic</li>
            <!-- <li>GBVersionTracking by Luka Mirosevic</li> -->
            <li>JRSwizzle von Jonathan 'Wolf' Rentzsch</li>
            <li>RETableViewManager, REValidation und REFormattedNumberField von Roman Efimov</li>
        </ul>
        Auch hier beschreibt die Reihenfolge kein Ranking. Diese Einträge sind einfach alphabetisch geordnet.
    </p>
    <p>&copy; 2011&ndash;2015 Tjark Saul. Alle Rechte vorbehalten.</p>
</body>
</html>
